/* Global styles */
#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #211f1f; /* Couleur de fond */
  min-height: 100vh; /* Hauteur minimale de la vue */
  font-family: Arial, sans-serif; /* Police de caractères */
  padding: 20px; /* Espacement intérieur */
  color: white;
}